@{
    ViewData["Title"] = "Funcionalidades";
    <link rel="stylesheet" href="~/Css/misestilos.css">
}


<h2 class="text-center m-2"> Funcionalidades</h2>



<div class="col-12 d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start  align-items-lg-start">
    <div class="col-12 col-md-6 col-lg-6 bg-white p-3 border rounded m-2">
        <div>
            <img class=" img-fluid imagenes img-fluid  " src="~/Img/Funcionalidades.png" alt="">
            <p class=""> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti nostrum suscipit perspiciatis veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum corrupti?</p>

        </div>
        <div>
            <img class="img-fluid imagenes img-fluid " src="~/Img/Funcionalidades.png" alt="">
            <p class="text-right"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti nostrum suscipit perspiciatis veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum corrupti?</p>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-6 bg-white p-3 border rounded m-2">

        <div>
            <img class=" img-fluid imagenes img-fluid izquierda " src="~/Img/Funcionalidades.png" alt="">
            <p class="derecha"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti nostrum suscipit perspiciatis veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum corrupti?</p>

        </div>
        <div>
            <img class="img-fluid imagenes img-fluid " src="~/Img/Funcionalidades.png" alt="">
            <p class="text-right"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti nostrum suscipit perspiciatis veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum corrupti?</p>
        </div>
    </div>



</div>
