@{
    ViewData["Title"] = "Bienvenidos";
}


<h2 class="text-center m-2"> Inicio</h2>

<div class="col-12 bg-light d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start  align-items-lg-start">

    <div class="col-10 col-md-10 col-lg-10 bg-white p-2 border rounded m-2 d-flex align-items-center ">
        <img class="img-fluid" src="~/Img/Repositorio.jpg" alt="">

    </div>


   


</div>
<h2 class="text-center m-2"> innube</h2>
<div class=" m-2 text-centercol-12 bg-light d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start  align-items-lg-start">
    <div class="col-12 col-md-12 col-lg-12 bg-white p-2 border rounded m-2 d-flex align-items-center">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius,
            corrupti nostrum suscipit perspiciatis veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum
            corrupti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti
            nostrum suscipit perspiciatis veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum corrupti?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti nostrum suscipit perspiciatis veniam in quae voluptatum placeat et,
            mollitia praesentium? Fuga, laborum corrupti?  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque officia mollitia voluptatum. Quas minima eius, corrupti nostrum suscipit perspiciatis 
            veniam in quae voluptatum placeat et, mollitia praesentium? Fuga, laborum corrupti?

        </p>
        
    </div>
</div>
