@using System.Net;
@{
    ViewData["Title"] = "Bienvenidos";
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}


<h2 class="text-center m-2"> Inicie Sesion</h2>

<div class="col-12 bg-l d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start  align-items-lg-start">



    <div class=" bg-white p-3 border rounded m-2">
        @if (!string.IsNullOrEmpty(error))
            {
                <div class="text-danger">@error</div>
            }


        <form  action="/login?ReturnUrl=@WebUtility.UrlEncode(returnUrl)" method="post">
            <div class="mb-3">
                <label f class="form-label">Usuario</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label  class="form-label">Contrasena</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark">Iniciar Sesion</button>
        </form>

    </div>



</div>
