@{
    ViewData["Title"] = "Nosotros";
}


<h2 class="text-center m-2"> Nuestro equipo </h2>

<div class="col-12 bg-light d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center align-items-center h-100 justify-content-lg-center align-items-md-start  align-items-lg-start">

    <div class="col-12 col-md-2 col-lg-2 bg-white p-2 bg-white p-3 border rounded m-2   ">
      
    </div>

    <div class="col-12 col-md-2 col-lg-2 bg-white p-2 bg-white p-3 border rounded m-2 ">
        
    </div>

</div>

