@model AppBootstrap.Model.Cliente;
@{
    ViewData["Title"] = "Editar";
}

<h2 class="text-center m-2"> Editar Cliente </h2>

<div class="col-12 bg-light d-flex flex-column align-items-center flex-md-row flex-lg-row justify-content-md-center justify-content-lg-center align-items-md-start  align-items-lg-start">

    <div class="col-12 col-md-6 col-lg-3 bg-white p-2 border rounded m-2 d-flex align-items-center justify-content-start ">
        <img class="img-fluid" src="./MisRecursos/Img/imgDeveloper2.jpg" alt="">

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active bg-info" aria-current="page" asp-action="Index">Volver A La Lista</a>
            </li>
        </ul>

    </div>


    <div class="col-12 col-md-6 col-lg-8 bg-white p-3 border rounded m-2">

        <form asp-action="Editar" class="row g-3 needs-validation">
            <div class="col-md-4">
                <label class="form-label">Codigo: @Model.Codigo</label>
                <input asp-for="Codigo" type="hidden" class="form-control">

            </div>

            <div class="col-md-4">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control" required placeholder="Nombre">
            </div>
            <div class="col-md-4">
                <label class="form-label">Apellido</label>
                <input asp-for="Apellido" type="text" class="form-control" required placeholder="Apellido">
            </div>

            <div class="col-md-8">
                <label for="validationCustomUsername" class="form-label">Correo</label>
                <input asp-for="Correo" type="email" class="form-control" required placeholder="ususario@dominio">
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
                <div class="col-md-8">
                    <label class="form-label">Celular</label>
                    <input asp-for="Celular" type="text" class="form-control" required placeholder="0000000000">
                </div>
            </div>



            <div class="col-12">
                <button class="btn btn-info" type="submit">Guardar Datos </button>
            </div>
        </form>
    

        


    </div>



</div>
